
* {
  font-family: "Pacifico", "Anton", 'Open Sans Condensed', sans-serif, 'Crimson Text', serif, "Short Stack", cursive;

  }

  body {
  max-width: 1080px;
  margin: 75px auto 75px auto;
  float: none;
  font-family: serif;
  }


.header {
  margin: 20px, 20px, 0, 0;
  overflow: auto;
  }

.fork  {
  float: left;
  right: 10px;
  padding: 5px;
}

 h1 {
  font-family: "Pacifico";
  font-size: 36px;
  font-style: italic;
  float: left;
}

 h2 {
  font-family: "Pacifico";
  font-size: 25px;
  font-style: italic;
  padding-top: 8px;
}

h3 {
  font-family: "Anton";
  font-size: 13px;
  font-weight: lighter;
  text-align: justify;
  letter-spacing: 2px;
  padding: 5px;
}
.module {
  background: white;
  border: 1px solid #white;
  margin: 3%;
  > h2 {
    padding: 1rem;
    margin: 0 0 0.5rem 0;
  }
  > p {
    padding: 0 1rem;
  }
}

.stripe-2 {
  color: gray;
  background: repeating-linear-gradient(
    -45deg, transparent, transparent 10px, #ccc 10px, #ccc 20px
  ),
  linear-gradient(
    to bottom,
    #eee,
    #999
  )
}

  .icons {
    float: right;
    right: 0px;
    padding: 10px;
  }

  .printer {
    float: right;
    right: 10px;
    padding: 5px;
  }
  .print {
    float: right;
    right: 10px;
    padding: 5px;
    color: lightgray;
  }


  main {
    font-family: serif;
  }

  h4 {
    font-family: "Anton";
    font-size: 35px;
    padding-bottom: 50px;
  }

  h5 {
    font-family: "Anton";
    font-size: 15px;
    color: lightgray;
    padding-top: 5px;
   }

  .repeating-linear {
  background: repeating-linear-gradient(-45deg, red, red 5px, blue 5px, blue 10px);
}


p.fig {
  text-align: center;
  text-indent: 5em;
  text-align: justify;
  letter-spacing: 3px;
  width: 960px;
  margin: 20px auto 20px auto;
  font-weight: normal;
  font-size: 13px;
  padding: 10px;
  margin: 10px;
  font-family: 'Libre Baskerville';
}


.shop-list{
  position: relative;
      color: black;
      padding: 5px;
}

label {
  font-size: 1.20em;
}

input[type=checkbox]:checked + label {
  color: gray;
  text-decoration: line-through;
} /*This is the MDN spec for doing this*/

.list-left{
  font-family: "Short Stack";
  position: absolute;
  text-align: left;
  top: 40%;
  left: 30%;
  transform: translate(-50%, -50%);
  }

.list-right {
  font-family: "Short Stack";
  position: absolute;
  text-align: left;
  top: 45%;
  left: 65%;
  transform: translate(-50%, -50%);
}

.van {
  float: left;
  width: 30px;
  right: 10px;
  padding: 5px;
  margin-top: 5px;
}

.her-name {
  font-family: "serif";
  font-size: 18px;
  font-weight: bold;
  float:left;
  width: 200px;
  margin-top: 15px;
}

.info {
  font-family: "sans-serif";
  font-size: 12px;
  left: 180px;
  width: auto;
  padding-top: 20px;
  margin-top: 15px;
  position: absolute;
 }

 button {
   float: right;
   width: 150px;
   margin-right: 100px;
   padding: 10px;
   background-color: #A5682A;
   font-family: Open Sans Condensed;
   font-size: 20;
   font-weight: bold;
   color: white;
 }

   .gray-fork:before {
     content: " ";
     border-bottom: 1px solid lightgray;
     position: absolute;
     width: 475px;
     margin-top: 10px;
     margin-left: 20px;
   }

  .gray-fork {
 position: absolute;
 width: 30px;
 left: 637px;
 margin-top: 125px;
 margin-bottom: 50px;
 padding: 25px;
  }

  .gray-fork:after {
    content: " ";
    border-bottom: 1px solid lightgray;
    position: absolute;
    width: 475px;
    margin-top: 10px;
    margin-right: 50px;
    }


 .footer {
   position: absolute;
   right: 0;

   left: 0;
   padding: 200px;
   height: 350px;
   font-family: sans-serif;
   color: lightgray;
   text-align: center;
   font-size: 10;
 }
