
* {
  border-style: dotted;
  border-width: 1px;
  border-color: red;
  font-family: "Pacifico", cursive, "Anton", sans-serif, serif;
  }

body {
max-width: 1080px;
margin: 0 auto;
float: none;
font-family: serif;

}


.header {
  margin: 20px, 20px, 0, 0;
  overflow: auto;
  }

.header.fork img {
  position:absolute;
  left: 50px;
}

.header h1 {
  font-family: "Pacifico";
  font-size: 36px;
  font-style: italic;
  float:left;
}

.header h2 {
  font-family: "Pacifico";
  font-size: 25px;
  font-style: italic;
  float:left;
  padding-top: 8px;
}

.header h3 {
  font-family: "Anton";
  font-size: 12px;
  font-weight: lighter;
}

  .header.icons {
    margin: 0,0,0,900;
    float:left;

  }

  main {
    font-family: serif;
  }

  h4 {
    font-family: "Anton";
    font-size: 35px;
  }

  h5 {
    font-family: "Anton";
    font-size: 10px;
    color: lightgray;
   }

  .repeating-linear {
  background: repeating-linear-gradient(-45deg, red, red 5px, blue 5px, blue 10px);
}

.pic-head.img {
  {
      display: block;
      margin: auto;
      width: 40%;
  }

}

h6 {
  font-family: "serif";
  font-size: 18px;
  font-weight: bold;
}

h7 {
  font-family: "serif";

 }

footer {
  text-align: center;
  color: lightgray;
  font-size: 10
}
